:-webkit-full-screen {
    background-color: #000;
    color: #ffffff;
}


/*
#specialstuff {
    width: 500px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
    */

.visibleNormal:-webkit-full-screen {
    display: none;
}

#specialstuff:-webkit-full-screen {
    margin-top: 0;
}
